body{font-size: 12px;}
.red{color: #e24e3b;}
.green{color: #71bf44;}
.black{color:#3b3b3a;}
.grey{color: #c7c6c6;}
.light{color: #f9f9fa;}
.hide{display: none;}
.icon{display: inline-block;height: 35px;width: 35px;}

/**直方图和气泡图***/
text{fill: #c7c6c6;}
.bar {fill: #e24e3b; }
.bar:hover {fill: #e22e2b; }
.axis path, .axis line {stroke: #000; fill: none; } 
.bubble {fill: #71bf44; fill-opacity: 0.5; }
.bubble2 {fill: #e24e3b; fill-opacity: 0.5; }

/***header****/
.header{background-color: #e24e3b;color: #ffffff;padding: 4px 0px;position: fixed; top: 0;left: 0; width: 100%;}
.header .logo{float:left;margin: 4px 16px;height: 35px;width: 35px; background: url(../images/menu.png) center no-repeat;background-size: 35px;}
.header .title{font-size: 18px;font-style: normal;line-height: 40px;margin-right: 16px;color: #fccec0;}
.header .search{width: 50%;font-size: 14px;font-style: normal;line-height: 25px;outline: none; -webkit-tap-highlight-color: rgba(0,0,0,0);}


.content {padding: 10px;margin-top: 40px;}

/***stock box****/
.stock-box{margin: 10px auto;padding: 10px;background-color: #f9f9fa;border-radius: 10px;color:#71bf44;}

.stock-box .handler {height: 18px;background: url(../images/handler.png) center no-repeat;background-size: 18px;}
.profile .title, .profile .price, .profile .detail{display: inline-block;}

.profile .title .code{margin: 4px;font-weight: bold;font-size: 13px;}
.profile .title .code .down{height: 16px;width: 16px; background: url(../images/down.png) center no-repeat;background-size: 16px;}
.profile .title .code .up{height: 16px;width: 16px; background: url(../images/up.png) center no-repeat;background-size: 16px;}
.profile .title .name{margin: 4px; font-size: 16px;}

.profile .price p{margin: 4px;}
.profile .price .current{font-size: 20px;font-weight: bold;}
.profile .price .wave{font-size: 10px;}


.profile .detail ul{list-style-type: none;padding: 0;width: 210px;margin: 0; }
.profile .detail ul li{font-size: 8px; display: inline-block;width: 63px;color:#c7c6c6;padding: 5px 2px;}
.profile .detail ul em{font-weight: bold;font-style: normal;}

.stock-box.on .chart{height: 200px;}
.stock-box.on .handler{display: none;}
