body{font-size: 12px;background-color: #f5f6f6}
.red{color: #e24e3b;}
.green{color: #71bf44;}
.black{color:#3b3b3a;}
.grey{color: #c7c6c6;}
.light{color: #f9f9fa;}
.hide{display: none;}
.icon{display: inline-block;height: 35px;width: 35px;}

/**直方图和气泡图***/
text{fill: #c7c6c6;}
.bar {fill: #e24e3b; }
.bar:hover {fill: #e22e2b; }
.axis path, .axis line {stroke: #000; fill: none; } 
.bubble {fill: #71bf44; fill-opacity: 0.5; }
.bubble2 {fill: #e24e3b; fill-opacity: 0.5; }

/***header****/
.header{background-color: #e24e3b;color: #ffffff;padding: 4px 0px;position: fixed; top: 0;left: 0; width: 100%;}
.header .logo{float:left;margin: 4px 16px;height: 35px;width: 35px; background: url(../images/menu.png) center no-repeat;background-size: 35px;}
.header .title{font-size: 18px;font-style: normal;line-height: 40px;margin-right: 16px;color: #fccec0;}


.content {padding: 10px;margin-top: 40px;}

/***stock box****/
.stock-box{margin: 10px auto;padding: 10px;background-color: #fff;border-radius: 10px;color:#71bf44;}
.stock-box .title {margin: 10px;}
.stock-box .title .name{margin: 4px; font-size: 18px;}
.stock-box .title .num{margin: 4px; font-size: 16px;}


.stock-box .chart{height: 300px;}
